<% content_for :title do %>
<h2>Welcome! This project serves as a series of warm up exercises around simply animation concepts.
</h2>
<ul>
  <li><%= link_to "Bouncing Ball", bounce_path %><span>A simple demonstration of a bouncing ball with controllable slope.</span></li>
</ul>
<% end %>
