// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* @group Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  line-height: 1.22em;
  font-family: inherit;
  vertical-align: baseline;
}

a:active, a:focus, input[type="image"] {
  outline: 0;
}

a img, :link img, :visited img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul {
  list-style: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

h1, h2, h3, h4, h5, h6, label, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

input, select {
  margin: 0;
}

body {
  background-color: #989898;

}

a {
  color: #e4e100;
}

li {
  padding-left: 10px;
  padding-top: 10px;
  span {
    font-size: 12px;
    padding-left: 10px;
  }
}

div#title {
  margin-top: 20px;
  margin-left: 20px;
}

div#main {
  background-color: #fff;
  width: 1000px;
  height: 600px;
  border: 2px solid #333;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 10px;


}

div#footer {
  padding-left: 20px;
  padding-top: 10px;
  color: #fff;
}